body {
  background-color: cornsilk;
  font-family: monospace;
}
h1 {
  font-weight: 700;
  font-size: 65px;
}
.Main {
  width: 100%;
  padding: 5%;
}
.Left {
  width: 50%;
  float: left;
}
.Right {
  width: 50%;
  float: right;
  font-size: 24px;
  color: rgba(79, 79, 79, 1);
}
.btn {
  padding: 10px 20px;
  background-color: rgba(51, 51, 51, 1);
  color: rgba(255, 255, 255, 1);
  font-family: monospace;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(155, 146, 155);
  text-align: center;
  font-family: monospace;
}
@media (max-width: 426px) {
  .Left {
    width: 100%;
  }
  .Right {
    width: 100%;
    margin-bottom: 60px;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
  .scarecrow {
    width: 100%;
  }
}
